.App {
  text-align: center;
}

#header {
  background-color: #33CC99;
  padding: 1rem;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0rem;
}

#logo{
  color: white;
}

#difficulty {
  color: #333333;
}

#PuzzleGridSection {
  padding: 12px;
}

#PuzzleSection {
  padding: 12px;
}

#NumberPad {
  margin: 0px;
}

.cell {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  color: black;
  border: 1px solid black;
}

.cell[disabled] {
  color: blue;
}

.selected  {
  background-color: cyan;
}

.cell.conflict {
  color: red;
}

.rightborder {
  border-right: 4px solid black;
}

.bottomborder {
  border-bottom: 4px solid black;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 496px) {
  .cell {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.75rem;
    text-align: center;
    color: black;
    border: 1px solid black;
  }

  .rightborder {
    border-right: 4px solid black;
  }
  
  .bottomborder {
    border-bottom: 4px solid black;
  }
}

@media only screen and (max-width: 443px) {
  .cell {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.75rem;
    text-align: center;
    color: black;
    border: 1px solid black;
  }

  .rightborder {
    border-right: 4px solid black;
  }
  
  .bottomborder {
    border-bottom: 4px solid black;
  }
}

@media only screen and (max-width: 407px) {
  .cell {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.75rem;
    text-align: center;
    color: black;
    border: 1px solid black;
  }

  .rightborder {
    border-right: 3px solid black;
  }
  
  .bottomborder {
    border-bottom: 3px solid black;
  }
}

@media only screen and (max-width: 371px) {
  .cell {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.7rem;
    text-align: center;
    color: black;
    border: 1px solid black;
  }

  .rightborder {
    border-right: 3px solid black;
  }
  
  .bottomborder {
    border-bottom: 3px solid black;
  }
}

@media only screen and (max-width: 364px) {
  .cell {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    border: 1px solid black;
  }

  .rightborder {
    border-right: 2.75px solid black;
  }
  
  .bottomborder {
    border-bottom: 2.75px solid black;
  }
}

@media only screen and (max-width: 335px) {
  .cell {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.25rem;
    text-align: center;
    color: black;
    border: 1px solid black;
  }

  .rightborder {
    border-right: 2.75px solid black;
  }
  
  .bottomborder {
    border-bottom: 2.75px solid black;
  }
}

/* 350 breakpoint for numberpad */
